@import url("https://fonts.googleapis.com/css?family=Archivo|Montserrat");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: 100%;
  overflow-x: visible;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 22px "Montserrat", Futura, sans-serif;
  left: 0px;
  position: relative;
  min-height: 100%;
  height: 100%;
  background-color: #fefefe;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Montserrat", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

.bp3-input {
  border-radius: 20px !important;
  justify-content: center;
  align-items: center;
}

.bp3-input-group > .bp3-icon {
  top: 10% !important;
}
